body {
  margin: 0px;
  padding: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'archia-regular';
  src: local('archia-regular'), url(./assets/fonts/Archia-Regular.woff) format('woff');
}

@font-face {
  font-family: 'opensans-regular';
  src: local('opensans-regular'), url(./assets/fonts/OpenSans-Regular.ttf) format('truetype');
}